.scoreTableContainer {
    position: absolute;
    z-index: 5;
    right: 0px;
    top: 0px;
    cursor: default;
    user-select: none;
    width: 200px;
    max-height: 400px;
    overflow: hidden;
    font-family: 'Rampart One', cursive;
    color: #ffb86c;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    .scoreTableHeading {
        margin: 0;
        padding: 5px;
    }

    .scoreTable {
        margin: 0;
        padding: 0 10px 0;
        list-style: none;
        .scoreTableItem {
            display: flex;
            justify-content: space-between;
            .scoreTableItemUser {

            }
            .scoreTableItemPoints {

            }
        }
    }
}